jureca/
slurm_logs/
ltxpng/
data/
results/
tmp/
tvbpipeline/
pipeline-master/
datasets/
docs/auto/
*~
*.swp
*.pyc
*.hpp
*.npz
*.tar.gz
*.csv
*.exe
*.R
*.out
.vscode
*.png
*.zip
.ipynb_checkpoints
__pycache__
cmdstan
vep-*
!vep*.stan
!vep*.ipynb
infer_szr_prpgtn*
!infer_szr_prpgtn_*.stan
!infer_szr_prpgtn_*.ipynb
exp*
\#*\#
*.aux
*.bbl
*.blg
docs/*.log
*.d