jureca/
slurm_logs/
ltxpng/
data/
results
tmp/
tvbpipeline/
pipeline-master/
datasets
documents
*~
*.swp
*.pyc
*.hpp
*.npz
*.tar.gz
*.csv
*.exe
*.R
*.out
.vscode
*.png
*.zip
.ipynb_checkpoints
__pycache__
cmdstan
vep-*
!vep*.stan
!vep*.ipynb
exp*
\#*\#
*.aux
*.bbl
*.blg
docs/*.log
*.d